/*
Uploadify
Copyright (c) 2012 Reactive Apps, Ronnie Garcia
Released under the MIT License <http://www.opensource.org/licenses/mit-license.php> 
*/
#upimage-queue{
  display: inline-block;
}
#upimage-upfinal{
  display: inline-block;
  width:100%;
}
.uploadify-button{
	display: inline-block;
	font-family: inherit;
	font-size: inherit;
	line-height: 1.5;
	color: #333;
	border: 1px solid #bbb;
	vertical-align: middle;
	outline: none;
	border-radius: 2px;
}
.uploadify-button{
	background-color: #f9f9f9;
	text-align: center;
}
.uploadify-button:hover{
	background-color: #EEE;
}
.uploadify-queue-item{
	position: relative;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	width: 112px;
	padding:5px;
	background-color: #fefefe;
	border: 1px solid #ccc;
	border-radius: 2px;
	overflow: hidden;
}
.ify-data{
  margin:0;
}
.ify-cancel{
	background: url('uploadify-cancel.png') 0 0 no-repeat;
	height:	16px;
	text-indent: -9999px;
	width: 16px;
	position: absolute;
	top: 0;
	right: 0;
}
.ify-fileName{
	text-align: center;
  margin:0;
  line-height: 1.5;
  font-size: 12px;
}
.ify-one-img{
	width: 130px;
	height: 105px;
	padding: 5px;
	border:1px solid #ccc;
	border-radius: 2px;
	background-color: #fefefe;
}
